---
import BaseLayout from "../layouts/base_layout.astro";
import BlogPost from "../components/blog_post.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);
const pageTitle = "Mon blog d'apprentissage Astro";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Voici où je vais publier mon parcours d'apprentissage d'Astro.</p>

  <ul>
    {
      allPosts.map((post: any) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
